body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url(./Image20230520144929.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    width: 380px;
    padding: 30px;
    background-color: antiquewhite;
}
.form_container{
    width: 380px;
    padding: 30px;
    background-image: linear-gradient(#7575ff,#b224ef);
    padding: 20px;
    border-radius: 10px;

    
}
.form_icon{
    text-align: center;
}
.form_icon span{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    line-height: 70px;
}
.form_icon span i{
    transition: all 0.2s linear 0s;
}
.form_icon span:hover i{
    color: #b224ef;
    transform: rotate(1turn);
}

.form_header h3{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

/*start form body*/
.form_body{
    padding: 50px 0px;
}
.form_group{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.form_control{
    width: 100%;
    padding: 10px 35px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    box-sizing: border-box;
    transition: all 0.3s linear 0s;
}

.form_control:focus {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255);
    outline: none;
}

.form_control::placeholder{
    color: #fff;
}
.form_group label {
    color: #fff;
    font-size: 13px;
}

.form_group span{
    color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear 0s;
}

.form_control:focus + span{
    transform: translateY(-120%) scale(0.8);
}
.form_btn_group{
    text-align: center;
}
.form_btn_group .btn{
    padding: 15px 30px;
    margin: 0 auto;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 30px;

}
/*end form body*/
/*start form footer*/

.form_footer{
    text-align: center;

}
.form_footer{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 200;
}